<section class="card mouseDown" #card>
    <h1>{{book.title | uppercase}}</h1>
    <div>
        <p>Title: {{book.title | uppercase}} Edition: {{book.edition}} </p>
        <p>Author: {{book.author}}</p>
        <p>Price: {{book.price | currency}}</p>
    </div>

    <ul type="none" 
    [ngStyle]="{'display':'flex','flex-direction':'row'}"
    >
        <app-card-button (click)="buttonBuy(card)">Buy</app-card-button>
        <app-card-button (click)="removeCard(card)">Remove</app-card-button>
    </ul>
</section>